.editTable {
    background-color: khaki;
    color: navy;
    margin: 2em auto 2em auto;
    opacity: 0.8;
    border: 1px navy solid;
    text-align: center;
    width: 750px;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

.editTableRow {}

.editTableCell {
    padding: 0.25em 1em 0.25em;
    text-align: justify;
}

#nameEditorField {
    width: 100%;
    height: 10em;
}

.resultOptions {}

.nameString {
    background-color: white;
    color: navy;
    padding: 0.5em 1em 0.5em;
    margin-bottom: 0;
    border: 1px navy solid;
    opacity: 1;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

.nameFormatLinkLabel {
    font-size: 60%;
    color: navy;
}

.nameFormatLink {
    font-size: 60%;
    font-weight: bold;
    background: lightgoldenrodyellow;
    color: navy;
    padding: 0;
    margin: 0.2em 0em 0.2em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}