<?xml version="1.0" encoding="utf-8"?>
<web-app>
	<servlet>
		<servlet-name>ResServlet</servlet-name>
		<servlet-class>de.uka.ipd.idaho.easyIO.web.ResourceServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>resData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResServlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PageServlet</servlet-name>
		<servlet-class>de.uka.ipd.idaho.easyIO.web.StaticPageServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>staticData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageServlet</servlet-name>
		<url-pattern>/static/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PageServlet</servlet-name>
		<url-pattern>/staticPopup/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BinoBank</servlet-name>
		<servlet-class>de.uka.ipd.idaho.binoBank.BinoBankServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>bbkData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BinoBank</servlet-name>
		<url-pattern>/bbk</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BinoBank</servlet-name>
		<url-pattern>/bbk/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NameSearch</servlet-name>
		<servlet-class>de.uka.ipd.idaho.binoBank.apps.webInterface.BinoBankSearchServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>searchData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>NameSearch</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NameDataIndex</servlet-name>
		<servlet-class>de.uka.ipd.idaho.binoBank.apps.dataIndex.BinoBankDataIndexServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>indexData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>NameDataIndex</servlet-name>
		<url-pattern>/data</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NameUpload</servlet-name>
		<servlet-class>de.uka.ipd.idaho.binoBank.apps.webInterface.BinoBankUploadServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>uploadData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>NameUpload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NameUpload</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NameParser</servlet-name>
		<servlet-class>de.uka.ipd.idaho.binoBank.apps.parser.BinoBankParserServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>parserData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>NameParser</servlet-name>
		<url-pattern>/parser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NameParser</servlet-name>
		<url-pattern>/parser/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NameEditor</servlet-name>
		<servlet-class>de.uka.ipd.idaho.binoBank.apps.editor.BinoBankEditorServlet</servlet-class>
		<init-param>
			<param-name>dataPath</param-name>
			<param-value>editorData</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>NameEditor</servlet-name>
		<url-pattern>/editor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NameEditor</servlet-name>
		<url-pattern>/editor/*</url-pattern>
	</servlet-mapping>
</web-app>
